node_modules
**/.idea/workspace.xml
.idea
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public_html/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public_html/build/
npm-debug.log
yarn-error.log
/public_html/uploads/
/src/Migrations/
/assets/fonts/univers/
/assets/css/foundation-icons/.DS_Store


###> liip/imagine-bundle ###
/public_html/media/cache/
###< liip/imagine-bundle ###
/public_html/vendors/tilt/.babelrc
/public_html/vendors/tilt/.jshintrc
/public_html/vendors/tilt/.travis.yml
/assets/images/series/no-temere/01-No-Temere.pdf
/assets/images/series/no-temere/02-Encerrados.pdf
/assets/images/series/no-temere/03-Realidad-Aumentada.pdf
/public_html/vendors/bootstrap/
/public_html/include/scss/
/src/DataFixtures/images/01-Ante-lo-inesperado.jpg
/src/DataFixtures/images/02-Indomita.jpg
/src/DataFixtures/images/03-Rescate-en-las-llamas.jpg
/public_html/vendors/
/assets/images/favicon/
/assets/fonts/big_noodle_titling.ttf
/assets/fonts/Black Diamond.otf
/assets/fonts/GreatLakesNF.ttf
/assets/fonts/Hoverage.otf
/assets/fonts/Joyful Story.otf
/assets/fonts/Matahati Regular.otf
/assets/fonts/Tuesnight.otf
/assets/fonts/UniversLTStd-Obl.otf
/assets/fonts/WarnockPro-ItSubh.otf
/assets/images/series/
/assets/images/gp_escalado_1170.png
/assets/images/gp_horizontal.jpg
/assets/images/gpc-sin-texto.png
/assets/images/logo_n1.png
/public/uploads/image_entrada/04-dios-cambiame-5ee4bb8543bf4.jpeg
/public/uploads/media/cache/squared_thumbnail_small/image_entrada/04-dios-cambiame-5ee4bb8543bf4.jpeg
