# Created by .ignore support plugin (hsz.mobi)
/oportunidades/vendor/fontawesome-free/
/oportunidades/vendor/fontawesome-free/LICENSE.txt
/oportunidades/vendor/fontawesome-free/package.json
/oportunidades/vendor/fontawesome-free/README.md
/oportunidades/vendor/fontawesome-free/css/
/oportunidades/vendor/fontawesome-free/js/
/oportunidades/vendor/fontawesome-free/js/
/oportunidades/vendor/fontawesome-free/less/
/oportunidades/vendor/fontawesome-free/scss/
/oportunidades/vendor/fontawesome-free/sprites/
/oportunidades/vendor/fontawesome-free/svgs/
/oportunidades/vendor/fontawesome-free/webfonts/
/oportunidades/vendor/
/oportunidades/vendor/

